body{
    background-image: url("../assets/img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.seg{
    margin-left: 450px;
    border: 2px solid;
    font-size: 20px;
    font-weight: 600;
}

#offcanvasRightLabel{
    /* border: 2px solid; */
    color: #fff;
    padding-top: 5px;
}

.offcanvas-header{
    /* border: 2px solid green; */
    background-color: rgb(102, 189, 247);
}

.icon{
    position: relative;
    bottom: 1.5px;
    font-weight: 900;
}
.foot{
    /* border: 2px solid; */
    /* margin-top: 280px; */
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 400px;
    height: 60px;
    background-color: azure;
}
.foot button{
    margin-top: 12px;
}
.foot button:first-child{
    margin-left: 10px;
}
.add{
    background-color: transparent;
    color: rgb(62, 169, 134);
    border-bottom: 2px solid;
    border-radius: 0;
    padding: 0;
}
.add:hover{
    border: 1px solid #fff;
    border-bottom: 2px solid rgb(62, 169, 134);
}
.data{
    /* height: 33px; */
    width: 320px;
    padding: 6px 10px;
    background-color: #fff;
    color: #000;
    margin-top: 7px;
    margin-bottom: 2px;
}
.minus{
    padding: 4px 8px;
    width: 35px;
    margin-left: 5px;
    height: 36px;
}
.icon1{
    font-weight: 900;
    position: relative;
    bottom: 7.5px;
}
#drop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.data li button{
    padding-right: 100px;
}